*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
}
.container{
  width: 800px;
  background-color: white;
  margin: 20px auto;
}
.container .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.container .header .category{
    font-weight: bold;
    color: #009688;
    font-size: 20px;
}
.container .draw{
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 10px;
}
.container .draw .man{
  flex-basis: 50%;
  background-color: #eee;
}
.container .draw .bottom{
  width: 60px;
  height: 280px;
  margin: auto;
  border-bottom: 4px solid black;
  position: relative;
  display: none;
}
.container .draw.wrong_1 .bottom{
  display: block;
}
.container .draw .bottom::before{
  content: "";
  position: absolute;
  width: 4px;
  height: 230px;
  background: black;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.container .draw .line{
  width: 70px;
  height: 4px;
  background: black;
  left: 50%;
  position: absolute;
  top: 60px;
  display: none;
}
.container .draw .line::before{
    content: "";
    width: 4px;
    height: 25px;
    position: absolute;
    background: black;
    left: 100%;
}
.container .draw.wrong_2 .line{
  display: block;
}
.container .draw .rope{
    width: 70px;
    height: 70px;
    border: 4px dashed black;
    border-radius: 50%;
    top: 30%;
    position: absolute;
    left: 116%;
    display: none;
}
.container .draw.wrong_3 .rope{
  display: block;
}
.container .draw .the-man{
  height: 175px;
  top: 37%;
  position: relative;
  left: 136%;
  width: 40px;
}
.container .draw .head{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid black;
  left: -2px;
  top: -10px;
  display: none;
}
.container .draw.wrong_4 .head{
  display: block;
}
.container .draw .body{
  position: absolute;
  width: 4px;
  height: 95px;
  background: black;
  left: 55%;
  transform: translateX(-50%);
  top: 39px;
  display: none;
}
.container .draw.wrong_5 .body{
  display: block;
}
.container .draw .left-hand,
.container .draw .right-hand{
  width: 4px;
  height: 35px;
  position: absolute;
  background: black;
  top: 36%;
  left: 7px;
}
.container .draw .left-hand{
  transform: rotate(130deg);
  display: none;
}
.container .draw.wrong_6 .left-hand{
  display: block;
}
.container .draw .right-hand{
  left: 31px;
  transform: rotate(-133deg);
  display: none;
}
.container .draw.wrong_7 .right-hand{
  display: block;
}
.container .draw .left-leg,
.container .draw .right-leg{
  width: 4px;
  height: 35px;
  position: absolute;
  background: black;
  top: 73%;
  left: 7px;
}
.container .draw .left-leg{
  transform: rotate(-135deg);
  display: none;
}
.container .draw.wrong_8 .left-leg{
  display: block;
}
.container .draw .right-leg{
  left: 33px;
  transform: rotate(135deg);
  display: none;
}
.container .draw.wrong_9 .right-leg{
  display: block;
}
.container .draw .letters{
    padding: 15px;
    flex: 1;
    text-align: center;
}
.container .draw .letters span{
  background: #009688;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  color: white;
  margin-right: 5px;
  line-height: 45px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.container .word{
  height: 100px;
  text-align: center;
  margin-top: 30px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .word .letter{
  width: 50px;
  line-height: 50px;
  height: 50px;
  background: white;
  display: inline-block;
  margin-right: 10px;
  border-bottom: 3px solid black;
  text-transform: uppercase;
}
.container .word .space{
  width: 20px;
  height: 4px;
  display: inline-block;
  background: black;
  margin-right: 10px;
}

.container .clicked{
  opacity: .2;
  pointer-events: none;
}
.loser,
.winner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 400px;
  height: 200px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.loser{
  background-color: #009688;
}
.winner{
  background-color: #2196f8;
}